/* Header - Mobile device */

/* Set text alignment for all nav elements to left */
nav {
    text-align: left;
    
  }

/* Remove default text decoration from anchor elements */
a {
    text-decoration: none;
}

/* Top Navbar */
/* Adjust padding for the top navigation bar */
.c-navbar{
    padding: 15px 0 0 10px;
    color: var(--clr-primary-text); 
}

/* Mobile Navbar */

.c-mobile-navbar{
    padding: 15px 0 10px 10px;
}

/* Remove default list styling and spacing */
.c-mobile-navbar .c-mobile-navbar__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.c-side-navbar__list, .c-side-navbar__sub-list{
    list-style-type: none;
}



/* Style mobile navbar items as a vertical column */
.c-mobile-navbar__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Styling for the heading inside the c-side-navbar */
.c-side-navbar__heading{
    font-size: 16px;
    font-weight: normal;
    padding: 12px 0;
}  

/* Styling for the c-side-navbar list items */
.c-side-navbar__sub-item a {
    text-decoration: none;   
}

/* Styling for the anchor tags */
a{
    text-decoration: none;   
    color: var(--clr-primary-text); 
}

/* Styling for the toggle icon on the right */
.c-mobile-navbar__toggle {
    float: right;
    padding-right: 20px;
}

/* Change color of "01 Colours" to --clr-secondary */
#coloursItem a {
    color: var(--clr-secondary);
}

/* Style for hover state */
.c-navbar__link:hover,
.c-mobile-navbar__link:hover,
.c-mobile-navbar__mobilelink:hover,
.c-side-navbar__sub-item a:hover {
    color: var(--clr-secondary-text);
}

/* Style for active state */

.c-side-navbar--active {
    font-weight: bold;
    color: var(--clr-secondary-text);
  }


/* ---------------- Colours.html Page Coding Begins Here -------------------- */



.c-colour-swatch{
    padding: 20px 20px;
}
.color-box {
    width: 80%; 
    padding: 20px;
    margin-bottom: 10px;
}


.c-swatch-sublist{
    margin: 20px 0;
}

.c-swatch-sublist p{
    padding:2px 15px;
} 



/* -------------------- Tyography page codings begings here------------------------- */
.table-container {
    overflow-x: auto;
    max-width: 100%;
    
}

table {
    width: 80%;
    border-collapse: collapse;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td{
    padding: 20px;
}

.c-typography-list, .c-font-uses{
    margin:10px;
}

.c-typography-sublist{
    margin-top: 20px;
    
}

.char-set-header{
    padding: 30px 20px;
}

.u-font-subheading{
    padding: 10px 2px 20px 2px;

}


/* Desktop view media query */
@media screen and (min-width: 768px) {
    /* Hide toggle icon */

 
    .c-mobile-navbar__toggle {
        display: none;
    }

    .c-mobile-navbar__elements .c-mobile-navbar__items{
        display: flex;
    }


  .c-mobile-navbar__links-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-end; 
    }

    .color-box {
        width: 30%;
    }    



    

}   