/* Header - Mobile device */

/* Set text alignment for all nav elements to left */
nav {
    text-align: left;
  }

/* Mobile Navbar */



/* Remove default list styling and spacing */
.c-mobile-navbar .c-mobile-navbar__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

/* Style mobile navbar items as a vertical column */
.c-mobile-navbar__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Styling for the heading inside the c-side-navbar */
.c-side-navbar__heading{
    font-size: 16px;
    color: var(--clr-primary);
    font-weight: normal;
    padding: 12px 0;
}  

/* Styling for the c-side-navbar list items */
.c-side-navbar__sub-item a {
    text-decoration: none;   
    color: var(--clr-primary); 
}

/* Styling for the c-mobile-navbar__link anchor tags */
.c-mobile-navbar__link a{
    text-decoration: none;   
    color: var(--clr-primary); 
}

/* Styling for the toggle icon on the right */
.c-mobile-navbar__toggle {
    float: right;
    padding-right: 20px;
}