/* Header - Mobile device */

/* Set text alignment for all nav elements to left */
nav {
    text-align: left;
    
  }

/* Remove default text decoration from anchor elements */
a {
    text-decoration: none;
}

/* Mobile Navbar */

.c-mobile-navbar{
    padding: 15px 0 0 10px;
}

/* Remove default list styling and spacing */
.c-mobile-navbar .c-mobile-navbar__items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.c-side-navbar__list, .c-side-navbar__sub-list{
    list-style-type: none;
}



/* Style mobile navbar items as a vertical column */
.c-mobile-navbar__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

/* Styling for the heading inside the c-side-navbar */
.c-side-navbar__heading{
    font-size: 16px;
    color: var(--clr-primary);
    font-weight: normal;
    padding: 12px 0;
}  

/* Styling for the c-side-navbar list items */
.c-side-navbar__sub-item a {
    text-decoration: none;   
    color: var(--clr-primary); 
}

/* Styling for the c-mobile-navbar__link anchor tags */
.c-mobile-navbar__link a{
    text-decoration: none;   
    color: var(--clr-primary); 
}

/* Styling for the toggle icon on the right */
.c-mobile-navbar__toggle {
    float: right;
    padding-right: 20px;
}

/* Change color of "01 Colours" to --clr-secondary */
.c-side-navbar__sub-item:nth-child(1) a {
    color: var(--clr-secondary);
}