/* Grayscale color variables */

/*-----------------------Color Varialbles------------------------------------*/

:root {

  /* Primary Colors */
  --clr-primary-text:#161718;  /*Dark Black*/
  --clr-primary-bg: #E7EEE8; /*Light grayish lime green*/
  --clr-primary-accent:#1A6124; /*Very dark lime green*/
  
  /* Secondary Colors */
  --clr-secondary-text: #FFFFFF; /*White*/
  --clr-secondary-bg: #A8E1B1; /* Very soft lime green*/
  --clr-secondary-accent:#7E4A01; /*Medium Brown*/

 }
   
/*------------------------------------Utility Classes------------------------------------*/
.u-text-primary{ 
  color: var(--clr-primary-text); 
}

.u-bg-primary { 
  background-color: var(--clr-primary-bg); 
}

.u-bg-accent-primary { 
  background-color: var(--clr-primary-accent); 
}

.u-text-secondary { 
  color: var(--clr-secondary-text); 
}

.u-bg-secondary { 
  background-color: var(--clr-secondary-bg); 
}

.u-accent-secondary { 
  background-color: var(--clr-secondary-accent); 
}

.u-text-active{
  color: var(--clr-primary-accent); ;
}

/* CSS Reset */
* {
    box-sizing: border-box;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, figure, picture {
    margin: 0;
  }
  
  ul, ol {
    padding: 0;
  }
  